/*Basic Elements*/
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: black;
}
/*Text*/
h1, h2, h3, h4, h5, h6, p, a, ul, ol, th, td, tr, li, label {
    color: #00FF33;
}

.link {
    word-break: break-all;
}

.link:hover {
    color: red;
}

.link:hover h3 {
    color: red;
}

.fix_whitespace {
    margin-right: -1.25ex;
}

/*Images*/
.memes {
    dankness: maximum;
    spicyness: very spicy;
}
.emperormeme {
    animation: grow 10s;
    animation-fill-mode: forwards;
}
.rotate90 {
    transform: rotate(90deg);
}
.rotate180 {
    transform: rotate(180deg);
}
.rotate270 {
    transform: rotate(270deg);
    width: 70vh;
    height: 60vw;
}
/*forms*/
input {
    color: #00FF33;
    background-color: black;
    border: none;
}
button {
    color: #00FF33;
    background-color: black;
    border: 2px dashed #00FF33;
}
button:hover {
    color: black;
    background-color: #00FF33;
    border: 2px solid #00FF33;
}
.divButton {
    color: #00FF33;
    background-color: black;
    border: 2px dashed #00FF33;
}
.divButton:hover {
    color: black;
    background-color: #00FF33;
    border: 2px solid #00FF33;
}
.imageButton {
    width: 3em;
    height: auto;
}
/*Lists*/
ul {
    list-style: disc;
    padding-inline-start: 40px;
}
ol {
    list-style: decimal;
    padding-inline-start: 40px;
}
/*Tables*/
.languages {
    width: 60vw;
}
.monitor {
    width: 90vw;
}
th {
    border: 2px solid #00FF33;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
td {
    border: 1px solid #00FF33;
    font-family: 'Courier New', Courier, monospace;
}
.blok td {
    background-color: #00FF33;
    color: black;
    font-weight: bold;
}
.blok td a {
    color: black;
}
.inprogress td {
    background-color: cyan;
    color: black;
    font-weight: bold;
}
.failed td {
    background-color: red;
    color: #00FF33;
}
/*Navbar*/
.navbar {
    position: fixed;
    top: 5em;
    border: 2px dashed #00FF33;
    background-color: black;
    z-index: 10;
}
.navbar a {
    text-decoration: none;
}
.navbutton {
    text-decoration: none;
}
.navbutton:hover {
    background-color: #00FF33;
    color: black;
}
.navbutton h3 {
    margin:0;
}
.navbutton:hover h3 {
    color: black;
}
.navbutton_active {
    background-color: #00FF33;
}
.navbutton_active h3 {
    color: black;
    margin: 0;
}
/*Main Content Classes*/
.content {
    margin: 15em 1em 0 1em;
}
.image_box p {
    font-style: italic;
}
.anchor {
    padding-top: 6em;
    margin-top: -6em;
}
/*Error pages*/
.errorHeader {
    margin-top: 30vh;
}
.errorSection {
    border: 2px dashed #00FF33;
}
.errorDivButton {
    color: #00FF33;
    background-color: black;
    border: 2px dashed #00FF33;
}
.errorDivButton:hover {
    color: black;
    background-color: #00FF33;
    border: 2px solid #00FF33;
}
/*Keyframes*/
@keyframes grow {
    0% {height: initial; width: initial;}
    20% {height: 25vh; width: 20vw;}
    30% {height: 30vh; width: 30vw;}
    40% {height: 40vh; width: 40vw;}
    50% {height: 50vh; width: 50vw;}
    60% {height: 60vh; width: 60vw;}
    70% {height: 70vh; width: 70vw;}
    80% {height: 80vh; width: 80vw;}
    90% {height: 90vh; width: 90vw;}
    100% {height: 100vh; width: 99vw;}
}
/*Mobile settings*/
.mobile_navbar {
    position: fixed;
    top: 9em;
    left: 50%;
    transform: translateX(-50%);
    border: 2px dashed #00FF33;
    background-color: black;
    display: none;
    z-index: 10;
}
.mobile_navbar a {
    text-decoration: none;
}
.mobile_navbutton {
    text-decoration: none;
}
.mobile_navbutton_active h3 {
    text-decoration: none;
    background-color: #00FF33;
    color: black;
}
.mobile_navbutton:hover h3 {
    background-color: #00FF33;
    color: black;
}

.hamburger_button {
    display: none;
}

.progress {
    width: 90vw;
}

.progress-bar {
    color: black;
    font-weight: bold;
}

.assignmentImage {
    min-width: 20vw;
    min-height: 20vh;
}

@media screen and (max-width: 1007px) {
    .list_box {
        flex: none;
        max-width: 100vw;
    }
    .monitor {
        width: 100vw;
        margin: 0;
    }
    .content {
        margin: 2em 0 0 0;
    }
    .navbar {
        display: none;
    }
    .hamburger_button {
        display: block;
        background-color: black;
        border: 2px dashed #00FF33;
    }
    .hamburger_button:hover {
        background-color: #00FF33;
        border: 2px solid black;
    }
}
